*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--base-100);
}

:root {
  --base: #555;
  --base-100: #f1f1f1;
  --base-200: #dbd4d3;
  --base-400: #555;
  --base-800: #000;
  --yellow: #ffda4b;
  --yellow-100: #f5d105;
  --yellow-400: #ffda4b;
  --yellow-800: #8b6f00;
  --blue: #0a61ae;
  --blue-100: #e2f8ff;
  --blue-400: #61dafb;
  --blue-800: #0a61ae;
  --red-100: #7d1102;
  --red-400: #bd0e0b;
  --red-500: #d90a07;
  --red-800: #ff0505;
}

a {
  text-decoration: none;
  color: var(--blue);
  &:hover {
    text-decoration: underline;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 20px;
}

header {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 32px;
  max-width: 1440px;
  margin: auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  .logo-holder {
    display: flex;
    padding: 10px;
    font-weight: 600;
    .logo {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--red-400);
      color: var(--base-800);
      height: 64px;
      width: 64px;
      margin-right: 20px;
      border-radius: 50%;
    }
    .logo-text {
      flex: 1; /*logo uses all of the space*/
      color: var(--red-500);
    }
  }

  nav {
    display: flex;
    align-items: center;
    ul {
      display: flex;
      list-style-type: none;
      gap: 5px;
      li {
        display: inline-block;
        a {
          display: inline-block;
          padding: 10px 20px;
          color: var(--red-400);
          &:hover {
            color: var(--red-800);
            text-decoration: none;
          }
        }
      }
    }
    .mobile-toggle {
      display: none;
      color: var(--red-400);
      padding: 10px;
      @media (max-width: 768px) {
        display: inline-block;
        position: absolute;
        top: 20px;
        right: 20px;
      }
    }
  }

  /* table view port */
  @media (max-width: 1024px) {
    flex-direction: column;
    align-items: center;
  }

  /* mobile view port */
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    nav {
      margin-top: 10px;
      width: 100%;
      ul {
        display: none;
        flex-direction: column;
        text-align: center;
        width: 100%;
        &.active {
          display: flex;
        }
      }
    }
  }
}

.container {
  max-width: 1440px;
  margin: auto;
  gap: 30px;
  margin-top: 30px;
  margin-bottom: 30px;

  @media (max-width: 1440px) {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.button {
  display: inline-block;
  padding: 10px 30px;
  color: var(--base-100);
  background-color: var(--base-400);
  border-radius: 10px;
  transition: ease 0.3s all;
  &:hover {
    text-decoration: none;
    background-color: var(--base-800);
    color: var(--base-100);
  }
  &.black {
    background-color: var(--base-800);
    color: var(--base-100);
    &:hover {
      background-color: var(--base-400);
      color: var(--red-800);
    }
  }
  &.red {
    background-color: var(--red-500);
    color: var(--base-800);
    &:hover {
      background-color: var(--red-100);
      color: var(--base-100);
    }
  }
}

h1 {
  background-color: var(--base-200);
  font-size: 64px;
  line-height: 1;
  margin-bottom: 10px;
  small {
    background-color: var(--base-200);
    display: block;
    font-weight: 100;
  }
  @media (max-width: 1024px) {
    font-size: 48px;
  }
}

p {
  background-color: var(--base-200);
}

.hero {
  display: flex;
  @media (max-width: 1024px) {
    flex-direction: column;
  }

  .hero-white {
    flex: 1;
    background-color: var(--base-200);
    border-radius: 30px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    span {
      background-color: var(--base-200);
      @media (max-width: 1024px) {
        display: none;
      }
    }
    .call-to-action {
      background-color: var(--base-200);
      margin-top: 20px;
      margin-bottom: 10px;
      a {
        margin-right: 10px;
        margin-bottom: 10px;
      }
    }
    .social-links {
      background-color: var(--base-200);
      a {
        background-color: var(--base-200);
        img {
          background-color: var(--base-200);
        }
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  .hero-black {
    flex: 1;
    background-color: var(--base-800);
    border-radius: 30px;
    padding: 0px 30px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    img {
      background-color: var(--base-800);
      max-width: 420px;
    }
  }
}
